<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  link(rel="stylesheet" type="text/css" href="/styles/error.css")
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css')
  title Error
body
  .contenedor
    a(href="/home")
      img(src="/images/logo.png", alt="")
    p Esta pagina no existe o no tienes acceso, por favor inicia sesión.
